<div class="card m-2 shadow border border-white">
  <div class="card-body">
    <h4 class="card-title">{{repo.repository_name}} <fa-icon [icon]="faGithub"></fa-icon></h4>
    <p class="card-text">{{repo.description}}</p>

    <span class="badge" *ngIf="repo.language" [ngClass]="[getLanguageColor(repo.language)]">{{repo.language}}</span>
    <span *ngIf="repo.stars" class="mx-2"><fa-icon [icon]="faStars" ></fa-icon> {{repo.stars}}</span>
    <span *ngIf="repo.forks" class="mx-2"><fa-icon [icon]="faFork"></fa-icon> {{repo.forks}}</span>
    <span class="text-muted" class="mx-2">Updated on {{repo.last_update}}</span>
  </div>
</div>
